* {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  text-align: center;
  align-items: center;
  background: linear-gradient(yellow, red);
  justify-content: center;
}

.Header {
  font-family: "Roboto", sans-serif;
}

.card {
  justify-content: center;
  padding: 2em;
  color: white;
  background: linear-gradient(red, blue, red);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.UserData {
  justify-content: center;
  display: flex-wrap;
}

.ReactDatePicker {
  margin: 10px;
}

.flexed {
  display: flex;
  flex-flow: row wrap;
}
